$rem: 16px;

// Color Palette
$color-blue-dark: #023664;
$color-blue: #0490c8;
$color-blue-light: #59c7f3;
$color-yellow: #fad105;
$color-light: #e6e6e6;
$color-lightest: #fbfbfb;
$color-white: #fff;


$color-blue-sky: #59c7f3;
$color-grey-semi-tr: rgba(68, 68, 68, 0.2);
$color-ow-sun: #ec6e4c;

$font-color: #1c1c1c;

$font-weight-light: 200;
$font-weight: 400;
$font-weight-bold: 500;

$shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

$transition-quick: 0.175s all ease-out;

$breakpoint-desktop-min: 769px;
$breakpoint-desktop-max: 1920px;
