@use "../../styles/variables.scss" as vars;

.qtw-app {
  color: vars.$font-color;
  font-weight: vars.$font-weight;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.qtw-app-header {
  flex: 0 0 auto;
  background: vars.$color-blue-sky;
  padding: 1rem;
  display: flex;
  justify-content: center;
  order: 1;
}

.qtw-user-location {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}

.qtw-app-nav {
  flex: 0 0 auto;
  padding: 1rem;
  background: vars.$color-white;
  order: 3;
  
  @media (min-width: 481px) {
    background: vars.$color-blue-sky;
    order: 2;
  }
}

.qtw-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.qtw-nav__item {
  margin-right: 1rem;
  flex: 1 1 100%;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.qtw-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 12rem;
  font-weight: 500;
  background-color: transparent;
  color: vars.$color-blue;
  border: 2px solid vars.$color-light;
  transition: vars.$transition-quick;

  &.qtw-active {
    border-color: vars.$color-blue;
  }
}

.qtw-app-body {
  flex: 1 1 100%;
  overflow: auto;
  background: linear-gradient(vars.$color-blue-sky, vars.$color-white);
  order: 2;

  @media (min-width: 481px) {
    order: 3;
  }
}
