@use "../../styles/variables.scss" as vars;

.qtw-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  @media (min-width: vars.$breakpoint-desktop-min) {
    flex-direction: column;
    align-items: stretch;
  }
}

.qtw-nav__item {
  margin-right: 1rem;
  flex: 1 1 100%;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: vars.$breakpoint-desktop-min) {
    margin: 0 0 0.5rem 0;
  }
}

.qtw-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 12rem;
  font-weight: 500;
  background-color: transparent;
  color: vars.$color-blue;
  border: 2px solid vars.$color-light;

  &.qtw-active {
    border-color: vars.$color-blue;
  }

  &:hover {
    color: vars.$color-blue-light;
  }

  @media (min-width: vars.$breakpoint-desktop-min) {
    border-color: transparent;
    color: vars.$color-white;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    
    &.qtw-active {
      background: #fff;
      color: vars.$color-blue;
      border: 2px solid vars.$color-light;
      border-right-color: transparent;
    }
  }
}
