@use "../../styles/variables.scss" as vars;

.qtw-day-temp-scale-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.5rem 0;
}

.qtw-day-temp-scale__timeline {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
}

.qtw-day-temp-scale {
  display: flex;
  background: vars.$color-grey-semi-tr;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem 0;

  &.qtw-today {
    justify-content: flex-end;
  }

  @media (min-width: vars.$breakpoint-desktop-min) {
    border: 1px solid vars.$color-light;
  }
}

.qtw-day-temp-scale__step {
  flex: 0 1 12.5%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0;
  background: vars.$color-white;
  border-left: 1px solid vars.$color-grey-semi-tr;

  &:first-child {
    border-left-color: transparent;
  }
}

.qtw-day-temp-scale__step-unit {
  font-size: 0.75rem;
  font-weight: 200;
  vertical-align: top;
  white-space: nowrap;
}
